body{
    padding: 0;
	height: 100%;
	overflow-y: scroll;
	margin: 0;
	background-color: #111;
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a{
	text-decoration: none;
	font-family: prata;
	font-size: 16px;	
	transition-duration: 0.3s!important;
	color: #F74133;
	transition-duration: 0.2s;
}
ul li a:hover{
	color:#f74133!important;
}
svg {
  fill: white;
}
.border-top{	
	border-top: 1px solid white;
}
.border-bot{	
	border-bottom: 1px solid white;
}
header{
	width: 80px;
	height: 100vh;
	background-color: rgba(0,0,0,0.33);
	position: fixed;
	display: flex;
	align-content: space-between;
	flex-direction: column;
	justify-content: space-between;
	z-index: 999;
	border-right: 1px solid white;
	box-sizing: content-box;
}
.top-menu{
	justify-content: center;
	align-items: center;
}
.top-menu ul{
	list-style: none;
	margin-left: 0;
	padding: 0;
	height: 176px;
	margin: 0;
}
.top-menu ul li{
	width: 80px;
	height: 80px;
	border-bottom: 1px solid white;
	text-align: center;
	margin: 0 auto;
	padding: 4px 0;
}
.top-menu ul li a img{
	height: 72px;
}
.news-menu{
	width:100%;
	height: 80px;
	position: fixed;
	left: 80px;
	right: 0;
	top: 0;
	z-index: 998;	
	border-bottom: 1px solid white;
	background-color: rgba(0,0,0,0.33);
}
.news-menu-inner{
	position: relative;
	float: left;
}
.news-menu a{
	padding: 0 40px;
	line-height: 80px;
	text-align: center;
	color: white;
}
.nav-toggle{
	display: none;
	width: 70px;
	height: 70px;
	border-right: 1px solid white;
	text-align: center;
}
.nav-toggle img{
	height:70px!important;
}
.nav-toggle2{
	display: block;
	width: 80px;
	height: 80px;
/*	z-index: 1000;*/
}

#MyNav{
	padding:0;
}
#MyNav ul{
	text-align: center;
	padding:0;
}
#MyNav ul li{
	transform: rotate(180deg);
	list-style: none;
	padding: 0 30px;
	position: relative;
}
#MyNav ul li a{
	writing-mode: vertical-lr;
	text-transform: capitalize;
	text-decoration: none;
	margin: 10px 0;
	color: #FFFFFF ;
	font-family: "prata";
	font-size: 16px;
}
.modune-boder-right{
	position: absolute;
	width: 5px;
	height: 100%;
	left: 0!important;
	top: 0;
	background-color: #F74133;
}
.modune-boder-bottom{
	position: absolute;
	width: 100%;
	height: 5px;
	left: 0!important;
	bottom: 0;
	background-color: #F74133;
}
#MyNav2{
	display: none;
	position: fixed;
	left: 80px;
	right: 0;
	height: 100vh;
	background-color: #161616;
	z-index: 1000;
    align-items: center;
	text-align: center;	
	width: calc(100% - 80px);
	border-left: 1px solid white;
}
#MyNav2 img{
	height: 141px;
	margin: 143px 0 49px 0;
}
.search-bar{
	margin: 0 auto;
	width: 40%;
	min-width: 400px;
	position: relative;
}
.search-bar-term {
	padding: 0 30px;
	height: 80px;
	outline: none;
	color: white;
	font-size: 20px;
	background-color: #161616;	
	border: 1px solid white;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.search-bar-bt{
	width: 80px;
	height: 80px;
	background-color: antiquewhite;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}
#myWindow {
	cursor: grab;
	display: flex;
	align-items: center;
}
.py-3{
	padding:0!important;
}
@media only screen 
   and (max-width : 1024px) {
	   .nav-toggle{
			display: block;
	   }
	   .nav-toggle2{
		   display:none;
	   }
	   header{
		   width: 100%;
		   height: 70px;
		   border-right: none;
		   border-bottom: 1px solid white;
	   }
	   #MyNav{
			display: none;
			position: fixed;
			top:70px;
			width: 100%;
		   background: #F74133;
		   height: 100vh;
	   }

	   #MyNav ul li{
			transform: none;
		   border-bottom: 1px solid white;
		   padding: 20px;
}
	   #MyNav ul li a{
			writing-mode: horizontal-tb;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			color: #FFFFFF !important;
		   font-size: 20px;
}
	   .top-menu{
		   display: none;
	   }
	   .news-menu{
		   display:none;
	   }
	   .inner-container{
		   padding:0!important;
	   }
	   .contentBx{
		   margin: 0;
		   padding: 70px 0;
	   }
	   .contentBx2{
		   margin: 0;
		   padding: 70px 0;
	   }
}
@font-face{
	font-family: "prata";
	src: url("../font/Prata-Regular.ttf");
}
@font-face{
	font-family: "roboto";
	src: url("../font/Roboto-Medium.ttf");
	font-weight: bold;
}
@font-face{
	font-family: "roboto";
	src: url("../font/Roboto-Regular.ttf");
	font-weight: normal;
}
/*
@font-face{
	font-family: "roboto";
	src: url("../font/Roboto-Black.ttf");
	font-weight: bolder;
}
@font-face{
	font-family: "roboto";
	src: url("../font/Roboto-Black.ttf");
	font-weight: bold;
}
*/
h1{
	font-size:7.451rem;
	font-family: prata;
}
h2{
	font-size:3.815rem;
	font-family: prata;
}
h3{
	font-size:2.441rem;
	font-family: prata;
}
h4{
	font-size:1.953rem;
	font-family: prata;	
}
p{
	font-size: 1rem;	
	font-family: roboto;	
}
.p-button{
	font-size: 1.25rem;	
	font-family: roboto;
	font-weight: normal;
}
.text-red{
	color:#f74133;
}
.map{
	overflow:none;
}
.map img{
	height:100vh;
}
.map-info{
	position: fixed;
	top:0;
	right: 0px;
	width: 500px;
	height: 100vh;
	background-color: white;
	border: 1px solid #F74133;
	padding: 60px 52px;
	margin: 0 auto;
}
.map-info h3{
	text-align: center;
}
.map-info-ava{
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.map-info-ava img{ 
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.scd-bar{
	position: fixed;	
	width: 100%;
	height: 80px;	
	border-bottom: 1px solid white;
	z-index: 999;
}
.hastag{
	margin: 48px 0 0 0;
	clear: both;
}
.hastag h2{
	color: white;
	background-color: #F74133;	
	padding: 0 20px;
	width: 160px;
}
/*process*/
/* The progress container (grey background) */
::-webkit-scrollbar {
  width: 0px;
	height: 0px;
}

.progress-container {
  width: calc(100% - 80px);
  height: 5px;
  background: #ccc;
	position: fixed;
	bottom: 0;
	left: 80px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #F74133!important;
  width: 0%;
}
.main-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: auto;
  display: flex;
}

.inner-container {
  min-width: 315px;	
  height: 663px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	padding-right: 60px;
}
.ruler-148{
	min-width:140px;
	height: 100%;	
	display: flex;
}

.ruler-88{
	width:80px!important;
	height: 100%;	
	display: flex;
}

.contentBx {	
	text-align: center;
	height: 100vh;
	padding: 160px 0;
	margin-right: 90px;
}
.contentBx2 {	
	padding: 319px 0;
	text-align: center;
	height: 100vh;
	margin-right: 90px;
}
.contentBx h2 {
  color: #111111;
}

.contentBx img{
	height:550px!important;
	width: 315px;
}
.contentBx2 h2 {
  color: #111111;
}

.contentBx2 img{
	height:550px!important;
	width: 315px;
}
.flex-fst{
	display: flex;
	align-items: flex-start;
}
.flex-scd{
	align-items: flex-end;
	display: flex;
	margin-bottom: 0px;
}
@media (max-width: 1024px) {
  .main-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: none !important;
	top: 0px;
	left: 0px;
  }
	.inner-container {
	  min-width: 100%;
	  height: auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: #161616;
}
	.progress-container {
		display:none;
	}
	.news-in-contentBx-header img{
	width: 100%;
	padding: 0!important;
}
	.news-in-contentBx-header{
		padding: 0!important;
	}
}
.ev-in-inner-container {
  min-width: 50%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}


.ev-in-contentBx {
	width: 100%;
}
.ev-in-contentBx img{
	width: 100%;
	height: 100%;
}
.ev-in-contentBx h2{
  color: white;
}
.ev-in-inner-container {
  min-width: 50%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}


.news-in-contentBx {
	width: 100%;
}
.news-in-contentBx img{
	width: 100%;
}
.news-in-contentBx h2{
  color: white;
	text-align: center;
	align-content: center;
	align-items: center;
}
.news-in-inner-container {
  min-width: 33%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}
.news-in-contentBx-text{
	width: 100%;
	padding: 80px 30px;
}
.news-in-contentBx-text p{
	color: white;
}.news-in-contentBx-header{
	width: 100%;
	height: 430px;
	padding-left: 80px;
	position: relative;
}
.news-in-contentBx-header-stt{
	width: auto;
	height: auto;
	background-color: gray;
	padding: 0 30px;
}
.news-in-contentBx-header-img{
	height: 600px;
	width: 100%;
}
.title-inner{
	font-size: 31.25px;
}
.stt-inner{
	line-height: 48px;
}
.lrn-in-contentBx-header{
	padding-left: 80px;
	width: 100%;
}
.lrn-in-contentBx-header img{
	width: 100%;	
}
.lrn-in-contentBx{
	width: 100%;
	padding: 144px 96px;
}
.lrn-in-contentBx-row{
	height: 50%;
	padding-bottom: 80px;
}
button{
	width: 365px;
	height: 64px;
	border: 1px solid #F74133;
	background: none;
	font-size: 20px;
	line-height: 62px;
	color: #f74133;
}
button:hover{
	border: none;
	background: #F74133;
	transition-duration: 0.2s;
	color: white;
}