
.map{
	padding-left:80px;
	width: 100%;
}
#canada-map {
	width: 100%;
	height: 100vh;
	position: absolute;
	top:0!important;
	left: 80px;
}

#canada-map g {
	transition: 0.2s;
	fill:black;
	stroke:#F74133;
	stroke-width:2;
	display: block;
}

#canada-map g:hover {
  fill: #F74133;
}

.active:hover {
  fill: #F74133 !important;
}

#provinceInfo {
	position: absolute;
	top: 88px;
	bottom: 36px;
	right: 0;
	width: 450px;
	z-index: 500;
	background-color: white!important;
	border: 1px solid #F74133;
	padding: 60px 52px;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: 0.5s;
}

@media all and (max-width: 1024px) {
  #provinceInfo {
    width: 100%;
    background: none;
  }

  #provinceInfo.show p {
    color: #000 !important;
  }
	.map{
		padding:0!important;
		width: 100%;
	}
	#canada-map {
	left: 0px;
	top: 70px;
	transform:  scaleX(60%);
}
}
#provinceInfo.show {
  opacity: 1;
}
#provinceInfo a{
	font-family: BeVietnam;
}
#provinceInfo h3{
	text-align: center;
	padding-top: 30px;
	font-family: prata;
}
#provinceInfo p{
	padding-top: 16px;
	font-size: 20px;
}

#provinceInfo img {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	margin: 0 auto;
}
#provinceInfo .btninfo{
	position: absolute;
	bottom: 64px;
	border: 1px solid #F74133;
	background-color: white;
	width: 340px;
	height: 64px;
	text-align: center;
	line-height: 60px;
	font-family: BeVietnam;
	font-weight: bolder;
	transition: 0.5s;
	color:#F74133;
}
#provinceInfo .btninfo:hover{
	border: none;
	background-color: #F74133;
	color:white!important;
}
#provinceInfo .btninfo a{
	width: 340px!important;
	height: 64px!important;
}
#provinceInfo .btninfo a:hover{
	color:white;
}
.space-info{
	width: 4px;
/*	height: 30px;*/
/*	background:blue;*/
}
.map-bg{
	transition: 0.2s;
	fill:none!important;
	stroke: #F74133 !important;
	stroke-width:0.8!important;
	stroke-linecap:round;
	stroke-linejoin:round;
	display: block;
}
.map-bg:hover{
	 fill: none!important;
}

#provincehover {
	position: fixed;
	top: 0;
	left: 0;
	width: 390px;
	height: 210px;
	z-index: 5000;
	background-color: rgba(255,255,255,0.30) !important;
	padding: 15px;
	transition-duration: 200ms;
  	transition-timing-function: ease-out;
  	transform: translate(-50%, -130%);
/*	hide*/
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	display: none;
}
#provincehover.show {
  	opacity: 1;
	visibility: visible;
	display: block;
}
.map-hover{
	display: flex;
	align-content: center;
	align-items: center;
}
.map-hover-ava{
	width: 180px;
	height: 180px;
	overflow: hidden;
	border-radius: 50%;
}
.map-hover-content{
	width: 145px;
	height: 100%;
	font-size: 16px;
	margin-left: 30px;
}
.map-hover-content h3{
	font-size: 31.25px;	
	line-height: 42px;
	color: white;
	margin-bottom: 16px;
}
.map-hover-hashtag{
	font-size: 20px;
	margin: 0;
	color: white;
	background-color: rgba(247,65,51,1);
	padding-right:8px;
/*	display: block;*/
}
.space{
	height: 4px;
}
.tag{
/*	background: blue;*/
	display: flex;
	justify-content: center
}
.show-map{
	font-size: 20px;
	color: white;
	background-color: rgba(247,65,51,1);
	padding-right:8px;
	font-family: prata!important;
	
}
.show-map span{
	font-size: 31.25px;	
	line-height: 42px;
	color: white;
	margin-bottom: 16px;
	
}