.map{
	padding-left:80px;
	width: 100%;
}
#canada-map {
	width: 100%;
	height: 100vh;
}

#canada-map g {
	transition: 0.2s;
	fill:black;
	stroke:#F74133;
	stroke-width:2;
	display: block;
}

#canada-map g:hover {
  fill: #F74133;
}

.active:hover {
  fill: #F74133 !important;
}

#provinceInfo {
	position: absolute;
	top: 0;
	right: 0;
	width: 450px;
	height: 100vh;
	z-index: 500;
	background-color: white!important;
	border: 1px solid #F74133;
	padding: 60px 52px;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: 0.5s;
}

@media all and (max-width: 1024px) {
  #provinceInfo {
    width: 100%;
    background: none;
  }

  #provinceInfo.show p {
    color: #000 !important;
  }
	.map{
		padding:0!important;
		width: 100%;
	}
}
#provinceInfo.show {
  opacity: 1;
}
#provinceInfo a{
	font-family: BeVietnam;
}
#provinceInfo h3{
	text-align: center;
	padding-top: 30px;
	font-family: prata;
}
#provinceInfo p{
	padding-top: 16px;
	font-size: 20px;
}

#provinceInfo img {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	margin: 0 auto;
}
#provinceInfo div{
	position: absolute;
	bottom: 64px;
	border: 1px solid #F74133;
	background-color: white;
	width: 340px;
	height: 64px;
	text-align: center;
	line-height: 60px;
	font-family: BeVietnam;
	font-weight: bolder;
	transition: 0.5s;
	color:#F74133;
}
#provinceInfo div:hover{
	border: none;
	background-color: #F74133;
	color:white!important;
}
#provinceInfo div a{
	width: 340px!important;
	height: 64px!important;
}
#provinceInfo div a:hover{
	color:white;
}
.map-bg{
	transition: 0.2s;
	fill:none!important;
	stroke:white!important;
	stroke-width:0.8!important;
	stroke-linecap:round;
	stroke-linejoin:round;
	display: block;
}
.map-bg:hover{
	 fill: none!important;
}
