/*process*/
/* The progress container (grey background) */
::-webkit-scrollbar {
  width: 0px;
	height: 0px;
}

.progress-container {
  width: calc(100% - 80px);
  height: 5px;
  background: #ccc;
	position: fixed;
	bottom: 0;
	left: 80x;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #F74133!important;
  width: 0%;
}
.main-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: auto;
  display: flex;
}

.inner-container {
  min-width: 315px;	
  height: 663px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	padding-right: 60px;
}
.ruler-148{
	min-width:140px;
	height: 100%;	
	display: flex;
}

.ruler-88{
	width:80px!important;
	height: 100%;	
	display: flex;
}

.contentBx {	
	text-align: center;
	height: 100vh;
	padding: 170px 0;
	margin-right: 90px;
}
.contentBx2 {	
	padding: 319px 0;
	text-align: center;
	height: 100vh;
	margin-right: 90px;
}
.contentBx h2 {
  color: #111111;
}

.contentBx img{
	height:550px!important;
	width: 315px;
}
.contentBx2 h2 {
  color: #111111;
}

.contentBx2 img{
	height:550px!important;
	width: 315px;
}
.flex-fst{
	display: flex;
	align-items: flex-start;
}
.flex-scd{
	align-items: flex-end;
	display: flex;
	margin-bottom: 0px;
}
@media (max-width: 1024px) {
  .main-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: none !important;
	top: 0px;
	left: 0px;
  }
	.inner-container {
	  min-width: 100%;
	  height: auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: #161616;
}
	.progress-container {
		display:none;
	}
	.news-in-contentBx-header img{
	width: 100%;
	padding: 0!important;
}
	.news-in-contentBx-header{
		padding: 0!important;
	}
}
.ev-in-inner-container {
  min-width: 50%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}


.ev-in-contentBx {
	width: 100%;
}
.ev-in-contentBx img{
	width: 100%;
	height: 100%;
}
.ev-in-contentBx h2{
  color: white;
}
.ev-in-inner-container {
  min-width: 50%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}


.news-in-contentBx {
	width: 100%;
}
.news-in-contentBx img{
	width: 100%;
}
.news-in-contentBx h2{
  color: white;
	text-align: center;
	align-content: center;
	align-items: center;
}
.news-in-inner-container {
  min-width: 33%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}
.news-in-contentBx-text{
	width: 100%;
	padding: 80px 30px;
}
.news-in-contentBx-text p{
	color: white;
}.news-in-contentBx-header{
	width: 100%;
	height: 430px;
	padding-left: 80px;
	position: relative;
}
.news-in-contentBx-header-stt{
	width: auto;
	height: auto;
	background-color: gray;
	padding: 0 30px;
}
.news-in-contentBx-header-img{
	height: 600px;
	width: 100%;
}
.title-inner{
	font-size: 31.25px;
}
.stt-inner{
	line-height: 48px;
}
.lrn-in-contentBx-header{
	padding-left: 80px;
	width: 100%;
}
.lrn-in-contentBx-header img{
	width: 100%;	
}
.lrn-in-contentBx{
	width: 100%;
	padding: 144px 96px;
}
.lrn-in-contentBx-row{
	height: 50%;
	padding-bottom: 80px;
}