/*process*/
/* The progress container (grey background) */
::-webkit-scrollbar {
  width: 0px;
	height: 0px;
}

.progress-container {
  width: calc(100% - 88px);
  height: 5px;
  background: #ccc;
	position: fixed;
	bottom: 0;
	left: 88px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: red!important;
  width: 0%;
}
.main-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: auto;
  display: flex;
}

.inner-container {
  min-width: 315px;	
  height: 663px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
	padding-right: 60px;
}
.ruler-148{
	min-width:148px;
	height: 100%;	
	display: flex;
}

.contentBx {	
  padding: 92px 0px 88px 0px;
  text-align: center;
	witdh:315px!important;
	height: 663px;
	display: flex;
}

.contentBx h2 {
  color: #111111;
}
.contentBx img{
	height:550px!important;
}
.flex-fst{
	display: flex;
	align-items: flex-start;
}
.flex-scd{
	align-items: flex-end;
	display: flex;
	margin-bottom: 0px;
}
@media (max-width: 1024px) {
  .main-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: none !important;
  }
	.main-container {
	top: 0px;
	left: 0px;
}
	.inner-container {
	  min-width: 100%;
	  height: auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: #161616;
}
	.progress-container {
		display:none;
	}
}
.ev-in-inner-container {
  min-width: 50%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}


.ev-in-contentBx {
  text-align: center;
	width: 100%;
}
.ev-in-contentBx img{
	width: 100%;
	height: 100%;
}
.ev-in-contentBx h2{
  color: white;
	text-align: center;
	align-content: center;
	align-items: center;
}
.ev-in-inner-container {
  min-width: 50%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}


.news-in-contentBx {
  text-align: center;
	width: 100%;
}
.news-in-contentBx img{
	width: 100%;
}
.news-in-contentBx h2{
  color: white;
	text-align: center;
	align-content: center;
	align-items: center;
}
.news-in-inner-container {
  min-width: 33%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}