/*process*/
/* The progress container (grey background) */
::-webkit-scrollbar {
  width: 0px;
}

.progress-container {
  width: calc(100% - 88px);
  height: 5px;
  background: #ccc;
	position: fixed;
	bottom: 0;
	left: 88px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: red!important;
  width: 0%;
}
.main-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
}

.inner-container {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161616;
}


.contentBx {
  max-width: 1000px;
  padding: 40px;
  text-align: center;
}

.contentBx h2 {
  color: #111111;
  text-transform: capitalize;
}
.contentBx img{
	witdh:100%;
	height:100vh;
}

@media (max-width: 1024px) {
  .main-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: none !important;
  }
	.main-container {
	top: 0px;
	left: 0px;
}
	.inner-container {
	  min-width: 100%;
	  height: auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 100vh;
	  background: #161616;
}
	.progress-container {
		display:none;
	}
}